:root {
  --negro: #000;
  --blanco: #fff;
  /* --azulOscuro: #1d3557;
  --azulClaro: #254470; */
  --grisClaro: rgb(216, 216, 216);
  --grisOscuro: #303030;
  /* --marron: #bb8918; */
  --verdeOscuro: #91bb39;
}

html {
  font-size: 62.5%; /* Para que 1rem = 10px*/
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "Source Sans Pro";
}

/* Fuentes de Google */
/* font-family: "RocknRoll One", sans-serif; */
/* font-family: "Source Sans Pro", sans-serif;  */

.titulo {
  text-align: center;
  font-family: "RocknRoll One";
  font-size: 4rem;
}

.subtitulo {
  text-align: center;
  font-size: 3.4rem;
  margin-top: 2rem;
}

.contenedor {
  max-width: 100rem;
  margin: 0 auto;
  width: min(90%, 100rem);
}

.texto {
  line-height: 4rem;
  font-family: "Source Sans Pro";
  font-size: 2rem;
  font-weight: lighter;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/** Header y footer **/

/* Header */

/* header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
} */

.barra-nav-bg {
  background-color: var(--grisOscuro);
}

.barra-navegacion {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

@media (min-width: 480px) {
  .barra-navegacion {
    flex-direction: row;
    justify-content: space-between;
  }
}

.barra-navegacion a {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--grisClaro);
  text-decoration: none;
  padding: 2rem;
}

.barra-navegacion a:hover {
  background-color: var(--verdeOscuro);
  color: var(--blanco);
  transition: 0.4s;
}

/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-bg {
  background-color: var(--grisOscuro);
  height: 8rem;
  width: auto;
  display: flex;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 480px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.copyright {
  color: var(--blanco);
  margin: 0rem 2rem;
}

.footer-iconos {
  column-gap: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 0rem 2rem;
}

.footer-icono {
  background-size: cover;
  height: 4rem;
  width: 4rem;
  background-position: center;
  background-repeat: no-repeat;
}

/* Iconos tomados de  https://freeicons.io/filter/popular/all/github*/

.icono-linkedin {
  background-image: url(../img/linkedin-icon.svg);
}

.icono-researchgate {
  background-image: url(../img/researchgate-icon.svg);
}

.icono-github {
  background-image: url(../img/github-icon-inverted.png);
}

/** HOME **/

/* Banner de fondo */

.imagen-bg {
  height: 38rem;
  max-width: 100%;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Foto de perfil */

.contenedor-perfil {
  display: flex;
  justify-content: center;
  margin-top: -15rem;
}

.foto-perfil {
  border: 0.4rem solid white;
  height: 30rem;
  width: 30rem;
  background-image: url(../img/imagen_perfil.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/** CONTACTO  **/

.redes-sociales {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.redes-sociales-icono {
  height: 8rem;
  width: 8rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.icono-github-negro {
  background-image: url(../img/github-icon.svg);
}

.contacto {
  text-align: center;
  margin: 2rem 0rem;
}

/** PORTFOLIO **/

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-elemento {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-texto {
  display: flex;
  flex-direction: row;
}

.descripcion {
  margin-top: 4rem;
}

img {
  max-width: 100%;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.titulo-proyecto {
  font-family: "Source Sans Pro";
  font-size: 2.6rem;
  margin-top: 1rem;
  text-align: center;
}

/** CV **/

/* Acordeon de CV */

.accordion {
  margin: 1rem auto;
}

.titulo-cv {
  font-family: "Source Sans Pro";
  font-size: 2.6rem;
  color: var(--negro);
}

.caja-cv {
  display: flex;
  flex-direction: column;
}

.experiencia {
  margin-bottom: 1rem;
}

.negrita {
  font-weight: bold;
}

.elemento-cv {
  margin-bottom: 2.8rem;
}

.elemento-cv:last-of-type {
  margin-bottom: 0rem;
}

.row {
  align-items: center;
}

.enlace {
  text-decoration: none;
}

.abstract {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: justify;
}

.texto-descripcion {
  font-size: 1.8rem;
  line-height: 2rem;
  font-family: "Source Sans Pro";
  font-weight: lighter;
}

/* Banner de fondo del resto de páginas */

.imagen-bg-resto {
  height: 20rem;
  max-width: 100%;
  background-image: url(../img/banner_resto.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
